In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("UnicornCompanies.csv",parse_dates=['Date Joined','Year Founded'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CompanyID          1074 non-null   int64
 1   Company            1074 non-null   object
 2   Valuation          1074 non-null   object
 3   Date Joined        1074 non-null   datetime64[ns]
 4   Industry           1074 non-null   object
 5   City               1058 non-null   object
 6   Country            1074 non-null   object
 7   Continent          1074 non-null   object
 8   Year Founded       1074 non-null   datetime64[ns]
 9   Funding            1062 non-null   object
 10  FundinginMillions  1062 non-null   object
 11  Select Investors   1073 non-null   object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 100.8+ KB

In [36]:
df.head()

,CompanyID,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,FundinginMillions,Select Investors
0,1,Bytedance,180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012-01-01,8B,8000M,"Sequoia Capital China, SIG Asia Investments, S..."
1,2,SpaceX,100B,2012-12-01,Other,Hawthorne,United States,North America,2002-01-01,7B,7000M,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,3,SHEIN,100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008-01-01,2B,2000M,"Tiger Global Management, Sequoia Capital China..."
3,4,Stripe,95B,2014-01-23,Fintech,San Francisco,United States,North America,2010-01-01,2B,2000M,"Khosla Ventures, LowercaseCapital, capitalG"
4,5,Klarna,46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005-01-01,4B,4000M,"Institutional Venture Partners, Sequoia Capita..."

In [37]:
df.insert(2,"Val_B_M",df['Valuation'].str[-1])

In [38]:
df.head()

,CompanyID,Company,Val_B_M,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,FundinginMillions,Select Investors
0,1,Bytedance,B,180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012-01-01,8B,8000M,"Sequoia Capital China, SIG Asia Investments, S..."
1,2,SpaceX,B,100B,2012-12-01,Other,Hawthorne,United States,North America,2002-01-01,7B,7000M,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,3,SHEIN,B,100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008-01-01,2B,2000M,"Tiger Global Management, Sequoia Capital China..."
3,4,Stripe,B,95B,2014-01-23,Fintech,San Francisco,United States,North America,2010-01-01,2B,2000M,"Khosla Ventures, LowercaseCapital, capitalG"
4,5,Klarna,B,46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005-01-01,4B,4000M,"Institutional Venture Partners, Sequoia Capita..."

In [39]:
df['Valuation'] = df['Valuation'].str.extract('(\d+)').astype(float)

In [40]:
df['Valuation']

0       180.0
1       100.0
2       100.0
3        95.0
4        46.0
        ...
1069      1.0
1070      1.0
1071      1.0
1072      1.0
1073      1.0
Name: Valuation, Length: 1074, dtype: float64

In [41]:
#df['Valuation'] = df['Valuation'] * 1000000000
df.head()

,CompanyID,Company,Val_B_M,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,FundinginMillions,Select Investors
0,1,Bytedance,B,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012-01-01,8B,8000M,"Sequoia Capital China, SIG Asia Investments, S..."
1,2,SpaceX,B,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002-01-01,7B,7000M,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,3,SHEIN,B,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008-01-01,2B,2000M,"Tiger Global Management, Sequoia Capital China..."
3,4,Stripe,B,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010-01-01,2B,2000M,"Khosla Ventures, LowercaseCapital, capitalG"
4,5,Klarna,B,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005-01-01,4B,4000M,"Institutional Venture Partners, Sequoia Capita..."

In [42]:
df.insert(10,"fund_B_M",df['FundinginMillions'].str[-1])

In [45]:
print(type(df['fund_B_M']))

<class 'pandas.core.series.Series'>

In [46]:
df.head()

,CompanyID,Company,Val_B_M,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,fund_B_M,Funding,FundinginMillions,Select Investors
0,1,Bytedance,B,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012-01-01,M,8B,8000M,"Sequoia Capital China, SIG Asia Investments, S..."
1,2,SpaceX,B,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002-01-01,M,7B,7000M,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,3,SHEIN,B,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008-01-01,M,2B,2000M,"Tiger Global Management, Sequoia Capital China..."
3,4,Stripe,B,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010-01-01,M,2B,2000M,"Khosla Ventures, LowercaseCapital, capitalG"
4,5,Klarna,B,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005-01-01,M,4B,4000M,"Institutional Venture Partners, Sequoia Capita..."

In [47]:
df['FundinginMillions'] = df['FundinginMillions'].str.extract('(\d+)')
df.head()

,CompanyID,Company,Val_B_M,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,fund_B_M,Funding,FundinginMillions,Select Investors
0,1,Bytedance,B,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012-01-01,M,8B,8000,"Sequoia Capital China, SIG Asia Investments, S..."
1,2,SpaceX,B,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002-01-01,M,7B,7000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,3,SHEIN,B,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008-01-01,M,2B,2000,"Tiger Global Management, Sequoia Capital China..."
3,4,Stripe,B,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010-01-01,M,2B,2000,"Khosla Ventures, LowercaseCapital, capitalG"
4,5,Klarna,B,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005-01-01,M,4B,4000,"Institutional Venture Partners, Sequoia Capita..."

In [48]:
df['FundinginMillions']

0       8000
1       7000
2       2000
3       2000
4       4000
        ...
1069     379
1070     990
1071      80
1072     792
1073     620
Name: FundinginMillions, Length: 1074, dtype: object

In [14]:
df.head(50)

,CompanyID,Company,Val_B_M,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,fund_B_M,Funding,FundinginMillions,Select Investors
0,1,Bytedance,B,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012-01-01,B,8,8000M,"Sequoia Capital China, SIG Asia Investments, S..."
1,2,SpaceX,B,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002-01-01,B,7,7000M,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,3,SHEIN,B,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008-01-01,B,2,2000M,"Tiger Global Management, Sequoia Capital China..."
3,4,Stripe,B,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010-01-01,B,2,2000M,"Khosla Ventures, LowercaseCapital, capitalG"
4,5,Klarna,B,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005-01-01,B,4,4000M,"Institutional Venture Partners, Sequoia Capita..."
5,6,Canva,B,40.0,2018-01-08,Internet software & services,Surry Hills,Australia,Oceania,2012-01-01,M,572,572M,"Sequoia Capital China, Blackbird Ventures, Mat..."
6,7,Checkout.com,B,40.0,2019-05-02,Fintech,London,United Kingdom,Europe,2012-01-01,B,2,2000M,"Tiger Global Management, Insight Partners, DST..."
7,8,Instacart,B,39.0,2014-12-30,"Supply chain, logistics, & delivery",San Francisco,United States,North America,2012-01-01,B,3,3000M,"Khosla Ventures, Kleiner Perkins Caufield & By..."
8,9,JUUL Labs,B,38.0,2017-12-20,Consumer & retail,San Francisco,United States,North America,2015-01-01,B,14,14000M,Tiger Global Management
9,10,Databricks,B,38.0,2019-02-05,Data management & analytics,San Francisco,United States,North America,2013-01-01,B,3,3000M,"Andreessen Horowitz, New Enterprise Associates..."
10,11,Revolut,B,33.0,2018-04-26,Fintech,London,United Kingdom,Europe,2015-01-01,B,2,2000M,"index Ventures, DST Global, Ribbit Capital"
11,12,Epic Games,B,32.0,2018-10-26,Other,Cary,United States,North America,1991-01-01,B,7,7000M,"Tencent Holdings, KKR, Smash Ventures"
12,13,FTX,B,32.0,2021-07-20,Fintech,NaN,Bahamas,North America,2018-01-01,B,2,2000M,"Sequoia Capital, Thoma Bravo, Softbank"
13,14,Fanatics,B,27.0,2012-06-06,E-commerce & direct-to-consumer,Jacksonville,United States,North America,2002-01-01,B,4,4000M,"SoftBank Group, Andreessen Horowitz, Temasek H..."
14,15,Chime,B,25.0,2019-03-05,Fintech,San Francisco,United States,North America,2013-01-01,B,2,2000M,"Forerunner Ventures, Crosslink Capital, Homebrew"
15,16,BYJU's,B,22.0,2017-07-25,Edtech,Bengaluru,India,Asia,2008-01-01,B,4,4000M,"Tencent Holdings, Lightspeed India Partners, S..."
16,17,J&T Express,B,20.0,2021-04-07,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015-01-01,B,5,5000M,"Hillhouse Capital Management, Boyu Capital, Se..."
17,18,Xiaohongshu,B,20.0,2016-03-31,E-commerce & direct-to-consumer,Shanghai,China,Asia,2013-01-01,M,918,918M,"GGV Capital, ZhenFund, Tencent"
18,19,Miro,B,18.0,2022-01-05,Internet software & services,San Francisco,United States,North America,2011-01-01,M,476,476M,"Accel, AltaIR Capital, Technology Crossover Ve..."
19,20,Yuanfudao,B,17.0,2017-05-31,Edtech,Beijing,China,Asia,2012-01-01,B,4,4000M,"Tencent Holdings, Warbug Pincus, IDG Capital"
20,21,Rapyd,B,15.0,2019-12-03,Fintech,London,United Kingdom,Europe,2016-01-01,M,770,770M,"Target Global, General Catalyst, Durable Capit..."
21,22,Discord,B,15.0,2018-04-20,Internet software & services,San Francisco,United States,North America,2012-01-01,M,979,979M,"Benchmark, Greylock Partners, Tencent Holdings"
22,23,Genki Forest,B,15.0,2020-03-01,Consumer & retail,Beijing,China,Asia,2016-01-01,M,721,721M,"Sequoia Capital China, Longfor Capitalm, Gaoro..."
23,24,goPuff,B,15.0,2020-10-08,E-commerce & direct-to-consumer,Philadelphia,United States,North America,2013-01-01,B,3,3000M,"Accel, Softbank Group, Anthos Capital"
24,25,Blockchain.com,B,14.0,2021-02-17,Fintech,London,United Kingdom,Europe,2011-01-01,M,490,490M,"Lightspeed Venture Partners, Google Ventures, ..."
25,26,Plaid,B,13.0,2018-12-11,Fintech,San Francisco,United States,North America,2012-01-01,M,734,734M,"New Enterprise Associates, Spar Capital, Index..."
26,27,Devoted Health,B,13.0,2018-10-16,Health,Waltham,United States,North America,2017-01-01,B,2,2000M,"Andreessen Horowitz, F-Prime Capital, Venrock"
27,28,OpenSea,B,13.0,2021-07-20,E-commerce & direct-to-consumer,New York,United States,North America,2017-01-01,M,427,427M,"Andreessen Horowitz, Thirty Five Ventures, Sou..."
28,29,Grammarly,B,13.0,2019-10-10,Internet software & services,San Francisco,United States,North America,2009-01-01,M,400,400M,"General Catalyst, Institutional Venture Partne..."
29,30,Argo AI,B,12.0,2019-07-12,Artificial intelligence,Pittsburgh,United States,North America,2016-01-01,B,4,4000M,"Volkswagen Group, Ford Autonomous Vehicles"
30,31,Northvolt,B,12.0,2019-06-12,Other,Stockholm,Sweden,Europe,2016-01-01,B,4,4000M,"Vattenfall, Volkswagen Group, Goldman Sachs"
31,32,Faire,B,12.0,2019-10-30,Artificial intelligence,San Francisco,United States,North America,2017-01-01,B,1,1000M,"Khosla Ventures, Forerunner Ventures, Sequoia ..."
32,33,Airtable,B,12.0,2018-11-15,Internet software & services,San Francisco,United States,North America,2013-01-01,B,1,1000M,"Caffeinated Capital, CRV, Founder Collective"
33,34,Brex,B,12.0,2018-10-05,Fintech,San Francisco,United States,North America,2017-01-01,B,1,1000M,"DST Global, Ribbit Capital, Greenoaks Capital ..."
34,35,Getir,B,12.0,2021-03-26,E-commerce & direct-to-consumer,Istanbul,Turkey,Europe,2015-01-01,B,2,2000M,"Tiger Global Management, Sequoia Capital, Revo..."
35,36,Biosplice Therapeutics,B,12.0,2018-08-06,Health,San Diego,United States,North America,2008-01-01,M,799,799M,"Vickers Venture Partners, IKEA GreenTech"
36,37,Bitmain,B,12.0,2018-07-06,Hardware,Beijing,China,Asia,2015-01-01,M,765,765M,"Coatue Management, Sequoia Capital China, IDG ..."
37,38,GoodLeap,B,12.0,2021-10-13,Internet software & services,Roseville,United States,North America,2003-01-01,M,800,800M,"New Enterprise Associates, BDT Capital Partner..."
38,39,Xingsheng Selected,B,12.0,2020-07-22,E-commerce & direct-to-consumer,Changsha,China,Asia,2009-01-01,B,5,5000M,"KKR, Tencent Holdings, Sequoia Capital China"
39,40,ZongMu Technology,B,11.0,2021-06-03,Auto & transportation,Shanghai,China,Asia,2013-01-01,M,376,376M,"LTW Capital, Legend Capital, Qualcomm Ventures"
40,41,Bolt,B,11.0,2018-05-29,Auto & transportation,Tallinn,Estonia,Europe,2013-01-01,B,1,1000M,"Didi Chuxing, Diamler, TMT Investments"
41,42,Swiggy,B,11.0,2018-06-21,"Supply chain, logistics, & delivery",Bengaluru,India,Asia,2014-01-01,B,5,5000M,"Accel India, SAIF Partners, Norwest Venture Pa..."
42,43,Weilong Foods,B,11.0,2021-05-08,Consumer & retail,Luohe,China,Asia,1999-01-01,M,558,558M,"Tencent Holdings, Hillhouse Capital Management..."
43,44,Global Switch,B,11.0,2016-12-22,Hardware,London,United Kingdom,Europe,1998-01-01,B,5,5000M,"Aviation Industry Corporation of China, Essenc..."
44,45,Bolt,B,11.0,2021-10-08,Fintech,San Francisco,United States,North America,2014-01-01,B,1,1000M,"Activant Capital, Tribe Capital, General Atlantic"
45,46,Celonis,B,11.0,2018-06-26,Data management & analytics,Munich,Germany,Europe,2011-01-01,B,1,1000M,"Accel, 83North"
46,47,Zuoyebang,B,10.0,2018-07-18,Edtech,Beijing,China,Asia,2014-01-01,B,3,3000M,"Sequoia Capital China, Xiang He Capital, GGV C..."
47,48,Ripple,B,10.0,2019-12-20,Fintech,San Francisco,United States,North America,2012-01-01,M,294,294M,"IDG Capital, Venture51, Lightspeed Venture Par..."
48,49,OYO Rooms,B,10.0,2018-09-25,Travel,Gurugram,India,Asia,2012-01-01,B,3,3000M,"SoftBank Group, Sequoia Capital India,Lightspe..."
49,50,OutSystems,B,10.0,2018-06-05,Internet software & services,Boston,United States,North America,2001-01-01,M,572,572M,"KKR, ES Ventures, North Bridge Growth Equity"

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CompanyID          1074 non-null   int64
 1   Company            1074 non-null   object
 2   Val_B_M            1074 non-null   object
 3   Valuation          1074 non-null   float64
 4   Date Joined        1074 non-null   datetime64[ns]
 5   Industry           1074 non-null   object
 6   City               1058 non-null   object
 7   Country            1074 non-null   object
 8   Continent          1074 non-null   object
 9   Year Founded       1074 non-null   datetime64[ns]
 10  fund_B_M           1062 non-null   object
 11  Funding            1062 non-null   object
 12  FundinginMillions  1062 non-null   object
 13  Select Investors   1073 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(1), object(10)
memory usage: 117.6+ KB

In [51]:
df.to_csv('Unicorn_Companies_edited.csv')

In [19]:
df = pd.read_csv('InvestorsFinal.csv')

In [21]:
df.head(10)

   CompanyID                 SelectInvestors
0          1           Sequoia Capital China
1          2                   Founders Fund
2          3         Tiger Global Management
3          4                 Khosla Ventures
4          5  Institutional Venture Partners
5          6           Sequoia Capital China
6          7         Tiger Global Management
7          8                 Khosla Ventures
8          9         Tiger Global Management
9         10             Andreessen Horowitz

In [22]:
df.describe()

         CompanyID
count  3052.000000
mean    537.460026
std     310.946619
min       1.000000
25%     269.000000
50%     537.000000
75%     807.250000
max    1074.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3052 entries, 0 to 3051
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CompanyID        3052 non-null   int64
 1   SelectInvestors  3051 non-null   object
dtypes: int64(1), object(1)
memory usage: 47.8+ KB

In [28]:
df_obj = df.select_dtypes(['object'])
print (df_obj)

                     SelectInvestors
0              Sequoia Capital China
1                      Founders Fund
2            Tiger Global Management
3                    Khosla Ventures
4     Institutional Venture Partners
...                              ...
3047             Redpoint e.ventures
3048               Redpoint Ventures
3049                   Goldman Sachs
3050               McKesson Ventures
3051                           Accel

[3052 rows x 1 columns]

In [29]:
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
print (df)

      CompanyID                 SelectInvestors
0             1           Sequoia Capital China
1             2                   Founders Fund
2             3         Tiger Global Management
3             4                 Khosla Ventures
4             5  Institutional Venture Partners
...         ...                             ...
3047        150             Redpoint e.ventures
3048        247               Redpoint Ventures
3049        511                   Goldman Sachs
3050        911               McKesson Ventures
3051       1026                           Accel

[3052 rows x 2 columns]

In [30]:
df.to_csv('InvestorsFinal_edited.csv')